.main-page{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.navbar-container{
    display:flex;
    width:min-content;
    flex-direction: column;
    justify-content: start;
    background-color: #171717;
    padding:32px;
    height:100vh;
    box-sizing: border-box;
}
.main-show-container{
    flex-grow: 1;
}
.screen-header{
    width:100%;
    box-sizing: border-box;
    color:white;
    padding:32px;
    font-size: 24px;
    text-align: center;
}
