.profile-row{
    width:100%;
    position: absolute;
    top:0;
    padding:32px;
    display:flex;
    justify-content: end;
    box-sizing: border-box;
}
.profile-button{
    border-radius: 100%;
    padding:12px;
    background-color: #171717;
    border: 3px solid #686868;
    cursor:pointer;
    transition: all .5s;
}
.profile-button:hover{
    scale:1.1
}